[submodule "html5lib-tests"]
	path = html/html5lib-tests
	url = https://github.com/html5lib/html5lib-tests.git
[submodule "css/css-parsing-tests"]
	path = css/css-parsing-tests
	url = https://github.com/SimonSapin/css-parsing-tests.git
